{% extends "core/base.html" %}

{% block content %}
  <h1>Bem-vindo, {{ user.nome }}</h1>

  <!-- Link para alterar a senha -->
  <h3>Alterar Senha</h3>
  <ul>
    <li><a href="{% url 'autenticacao:alterar_senha' %}">Alterar Senha</a></li>
  </ul>

  <!-- CRUD de Usuários -->
  <h3>Gerenciar Usuários</h3>
  <ul>
    <li><a href="{% url 'cadastros:listar_usuarios' %}">Listar Usuários</a></li>
    <li><a href="{% url 'cadastros:criar_usuario' %}">Criar Novo Usuário</a></li>
  </ul>
  
{% endblock %}
