<h1>Bem-vindo, Funcionario</h1>

<h3>Serviços Disponíveis</h3>
<ul>
    {% for servico in servicos %}
        <li>{{ servico.nome }} - R$ {{ servico.preco }}</li>
    {% endfor %}
</ul>

<!-- Links para o CRUD de serviços -->
<h3>Gerenciar Serviços</h3>
<ul>
    <li><a href="{% url 'cadastros:listar_servicos' %}">Listar Serviços</a></li>
    <li><a href="{% url 'cadastros:criar_servico' %}">Criar Novo Serviço</a></li>
</ul>

<!-- Link para alterar a senha -->
<h3>Alterar Senha</h3>
<ul>
    <li><a href="{% url 'autenticacao:alterar_senha' %}">Alterar Senha</a></li>  <!-- Link para alterar a senha -->
</ul>
