{% extends "core/base.html" %}

{% block content %}
  <h1>Bem-vindo, {{ user.nome }}</h1>

   <!-- link para alterar a senha -->
   <h3>Alterar Senha</h3>
   <ul>
     <li><a href="{% url 'autenticacao:alterar_senha' %}">Alterar Senha</a></li>
   </ul>
   
  <h2>Gerenciar Agendamentos</h2>
  <a href="{% url 'cadastros:cria_agendamento' %}">Novo Agendamento</a>

  {% if agendamentos %}
    <table>
      <tr>
        <th>Serviço</th>
        <th>Data e Hora</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      {% for agendamento in agendamentos %}
        <tr>
          <td>{{ agendamento.servico.nome }}</td>
          <td>{{ agendamento.data_hora }}</td>
          <td>{{ agendamento.status }}</td>
          <td>
            <a href="{% url 'cadastros:edita_agendamento' agendamento.pk %}">Editar</a>
            <a href="{% url 'cadastros:deleta_agendamento' agendamento.pk %}">Cancelar</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Você não tem agendamentos.</p>
  {% endif %}


<!-- links para o CRUD de serviços -->
<h3>Gerenciar Serviços</h3>
<ul>
    <li><a href="{% url 'cadastros:listar_servicos' %}">Listar Serviços</a></li>
    <li><a href="{% url 'cadastros:criar_servico' %}">Criar Novo Serviço</a></li>
</ul>

{% endblock %}




