{% extends "core/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h2>Bem-vindo ao DivineHair!</h2>

    {% if user.is_authenticated %}
        <p>Olá, {{ user.nome }}! Você está logado.</p>
        <p><a href="{% url 'autenticacao:logout' %}">Sair</a></p>
    {% else %}
        <p><a href="{% url 'autenticacao:login' %}">Fazer login</a></p>
    {% endif %}
</body>
</html>

{% endblock %}


